:root {
  --background-color--default: #BDC3C7;
  --background-color--primary: #ECF0F1;
  --background-color--accent: #F39C12;

  --shadow-color--default: 44, 62, 80;

  --text-color--default: #000;
  --text-color--primary: #F1C40F;
  --text-color--accent: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color--default: #2C3E50;
    --background-color--primary: #34495E;
    --background-color--accent: #F39C12;

    --shadow-color--default: 44, 62, 80;

    --text-color--default: #fff;
    --text-color--primary: #fff;
    --text-color--accent: #fff;
  }
}

.app {
}

.app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--background-color--default);
  box-shadow: 0 0px 22px 0px rgba(var(--shadow-color--default), .4);
}

.app-header__menu-button {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color--primary);
  color: var(--text-color--default);
}
