:root {
  --background-color--default: #fff;
  --background-color--primary: #eee;
  --background-color--accent: #eee;
  --shadow-color--default: #fff;
  --text-color--default: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color--default: #2C3E50;
    --background-color--primary: #34495E;
    --background-color--accent: #F39C12;
    --shadow-color--default: #fff;
    --text-color--default: #fff;
  }
}

.app {
}

.app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--background-color--default);
}

.app-header__menu-button {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color--primary);
  color: var(--text-color--default);
}
